<!-- Start Main Container -->
<div class="container zerogrid">

  <div class="col-full page-conainer">
    <div class="wrap-col">
      <div class="post-margin">
        <h5 class="page-title">Обо мне</h5>

        <!-- Start Entry -->
        <p>Меня зовут Дмитрий. Я изучаю язык программирования Ruby и веб-фреймворк Ruby on Rails.</p>


        <div class="symple-clear-floats"></div>
        <!-- End Entry -->

      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>
<!-- End Main Container -->